<a href="https://colab.research.google.com/github/sonda623/gomycode_checkpoints/blob/main/chechpoint_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Pandas program to create and display a DataFrame from the following dictionary data which has index labels.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [5]:

import numpy as np
import pandas as pd


exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'µyes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("First three rows of the data frame:")
print(df.head(3))

First three rows of the data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2    µyes

Delete rows with Nan values

In [9]:
df1 = df.dropna()
print(df1)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2    µyes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Extract the 'name' and 'score' columns from the DataFrame.

In [8]:
print("extract specific columns:")
print(df[['name', 'score']])

extract specific columns:
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

Write a Pandas program to append a new row 'k' to data frame with these values(name : "Suresh", score: 15.5, attempts: 1, qualify: "yes")

In [11]:
df.loc['k'] = ['Suresh', 15.5,1,"yes"]
print(df)

        name score attempts qualify
a  Anastasia  12.5        1     yes
b       Dima     9        3      no
c  Katherine  16.5        2    µyes
d      James   NaN        3      no
e      Emily     9        2      no
f    Michael    20        3     yes
g    Matthew  14.5        1     yes
h      Laura   NaN        1      no
i      Kevin     8        2      no
j      Jonas    19        1     yes
k     Suresh  15.5        1     yes

Write a Pandas program to delete the 'attempts' column from the DataFrame.

In [12]:
df.drop(columns="attempts")

        name score qualify
a  Anastasia  12.5     yes
b       Dima     9      no
c  Katherine  16.5    µyes
d      James   NaN      no
e      Emily     9      no
f    Michael    20     yes
g    Matthew  14.5     yes
h      Laura   NaN      no
i      Kevin     8      no
j      Jonas    19     yes
k     Suresh  15.5     yes

Add a new column "Success" : if the score is higher than 10 we will have 1 else we will have 0

In [19]:
df['Sucess'] = np.where(df['score']>10, 1, 0)

After executing the final dataframe, export it into csv file named "my_data"

In [18]:
df.to_csv('df.csv')
my_data=pd.read_csv('df.csv')