# Question 1

# Write a Python function to find the Max of three numbers.

# for example, the max of these three numbers 20, 35, 19 is 35

In [33]:
def maximum(a,b,c):
    if a>=b and a>=c:
        max=a
    elif b>=a and b>=c:
        max=b
    else:
        max=c
    return max
x =maximum(20,35,19)

In [34]:
x

35

# Question 2

# Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it. And also it must return both addition and subtraction in a single return call

# For example:

calculation(40, 10) should produce 50, 30

In [40]:
def calculation(a,b):
    return a+b,a-b
x,y=calculation(40,10)

In [41]:
x

50

In [42]:
y

30

# Question 3

# Write a function that sums the elements of a list of integers.
# Write a function that multiplies the elements of an integer list.
# Use the two functions to sum the elements whose position is an even number (0,2,4â€¦) and multiply the rest.
Hint: Consider extracting two lists from a first list

In [97]:
n=int(input())
l = [int(input()) for i in range(n)]
print(l)
def sumlist(l):
    total=0
    for i in range(len(l)):
        total +=l[i]
    return total
def multiplelist(l):
    total=1
    for i in range(len(l)):
        total *=l[i]
    return total

4
7
8
9
5
[7, 8, 9, 5]

In [98]:

sumlist(l)

29

In [99]:
multiplelist(l)

2520

In [105]:
l1=[]
l2=[]
for i in range (len(l)):
        if i % 2 == 0:
            l1.append(l[i])
l2 = [ k  for k in l if k not in l1 ]

In [106]:
l1

[7, 9]

In [107]:
l2

[8, 5]

In [108]:
sumlist(l1)

16

In [109]:
multiplelist(l2)

40

## Write a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically.

### Sample Items : green-red-yellow-black-white
### Expected Result : black-green-red-white-yellow

In [78]:

str=[n for n in input().split('-')]
str.sort()
print('-'.join(str))

green-red-yellow-black-white
black-green-red-white-yellow

# Write a function that calculates and prints the value according to the given formula: Q = Square root of [(2 * C * D)/H] Following are the fixed values of C and H: C is 50. H is 30. D is the variable whose values should be input to your program in a comma-separated sequence. Example Let us assume the following comma separated input sequence is given to the function: 100,150,180 The output of the program should be: 18,22,24

In [ ]:
import math
c=50
h=30
value=list()
items=[x for x in input().split(',')]
for d in items:
    value.append(str(round(math.sqrt(2 * c * int(d) / h))))
print(",".join(value))