# Question1 :Write a Python program to multiplies all the items in a list. 
# for example list=[2, 3, 6]

## result = 36

In [1]:
l=list()
n=int(input());
for i in range(n):
    x=int(input())
    l.append(x)
y=1    
for i in range(n):
  
    y=y*l[i]
    print(y)

3
2
3
6
2
6
36

# Question2:

# Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
# Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
# Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [4]:
l=list()
n=int(input());
for i in range(n):
    t=list()

    for j in range(2):
        t.append(int(input()))
    l.append(tuple(t))

    
print(l)

5
2
5
1
2
4
4
2
3
2
1
[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

In [12]:
d={}
for i in range(len(l)):
    d[l[i][1]]=l[i]
f=list(d.keys())

f=sorted(f)
l2=list()
for i in f:
    l2.append(d[i])
    
print(l2)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

# Question3: 

### Write a Python program to combine two dictionary adding values for common keys.

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
Expected output: {'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [15]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

for key in d1:
    if key in d2:  
        d2[key]=d1[key]+d2[key]
    else: 
        d2[key]=d1[key]

In [14]:
d2

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

# Question 5: 

## Write a program to sort a tuple by its float element.
For example list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
Expected Output: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [87]:
k=list()
n1=int(input());
for i in range(n):
    t1=list()
    for j in range(2):
        if j==0: 
            t1.append(input())
        else:
            t1.append(float(input()))    
    k.append(tuple(t1))

3
str1
12.20
str2
15.1
str3
24.5

In [90]:
print(k)

[('str1', 12.2), ('str2', 15.1), ('str3', 24.5)]

In [116]:
d1={}
for i in range(len(k)):
    d1[k[i][1]]=k[i]
f1=list(d1.keys())

f1=sorted(f1,reverse=True)
l3=list()
for i in f1:
    l3.append(d1[i])

In [117]:
print(l3)

[('str3', 24.5), ('str2', 15.1), ('str1', 12.2)]

# Question 4

### Question: With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [125]:
d2={}
n=int(input())
for i in range(1,n+1):
    d2[i]=i*i

8

In [126]:
d2

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}